body {
    background: #ecf0f3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

a {
    color: #ffffff;
}

.btn-header {
    display: flex;
    justify-content: space-around;
}

.toast-btn, #start, #stop {
    background: #ecf0f3;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    color: #1853a1;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#start.control, #stop.control {
    border-radius: 24px;
    padding: .75rem 1.7rem;
    text-transform: uppercase;
    border: 2px solid #1853a1;
    transition: .2s;
}

#start.control:hover, #stop.control:hover {
    box-shadow: -3px -3px 8px #ffffff;
    cursor: pointer;
}

#start.control.disable, #stop.control.disable {
    cursor: no-drop;
    opacity: .3;
}

.border {
    background: #2472d8;
}

.z-depth {
    -webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.14), 0 5px 20px 8px rgba(0, 0, 0, 0.4), 0 5px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.14), 0 5px 20px 8px rgba(0, 0, 0, 0.4), 0 5px 15px -7px rgba(0, 0, 0, 0.2);
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 2rem;
    place-items: center;
}

ul div {
    background: #1853a1;
    display: inline-flex;
    align-items: center;
    width: 165px;
    font-size: 17px;
    cursor: pointer;
    padding: .7em 1.5rem .7rem 1.5rem;
    border-radius: 30px;
    box-shadow: 4px 4px 8px #b1b1b1,
                -4px -4px 8px rgb(255, 255, 255);                
    transition: .2s;
}

ul div img {
    margin-left: auto;
}

ul div span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 0 0 15px 2px;
    border-radius: 50%;
    color: black;
    font-size: 10px;
    font-weight: 500;
}

ul div:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

ul div:active {
    -webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.14), 0 5px 20px 8px rgba(0, 0, 0, 0.4), 0 5px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.14), 0 5px 20px 8px rgba(0, 0, 0, 0.4), 0 5px 15px -7px rgba(0, 0, 0, 0.2);
    background: #2472d8;
}
 
@media (max-width: 475px){
    ul div {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .toast-btn {
        background: #000000;
        box-shadow: none;
        color: #ffffff;
        font-weight: normal;
        margin-bottom: 0;
    }
}